<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataAcess.Properties.Settings.QUANLY_KARAConnectionString"
            connectionString="Data Source=DESKTOP-UTKBS21\SQLEXPRESS;Initial Catalog=QUANLY_KARA;User ID=sa;Password=thuthuy96"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DataAcess.Properties.Settings>
            <setting name="QL_karaConnectionString" serializeAs="String">
                <value />
            </setting>
        </DataAcess.Properties.Settings>
    </userSettings>
</configuration>